
[Desktop Entry]
Type=Application
Exec=/usr/bin/sshplus.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[de_DE]=SSHPlus User-Menu
Name=SSHPlus User-Menu
Comment[de_DE]=Benutzermenü für linuxmuster-client
Comment=Benutzermenü für linuxmuster-client
